* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
}

nav {
    display: flex;
    
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}


.logo a {
    float: left;
    text-decoration: none;
}
