* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  /* height: 2000px; */
}


.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  margin-left: 0px;
  font-family: Courier;
  color: #364f6b;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

#courses img {
  border: 1px solid;
  box-shadow: 10px 20px 10px;
}

.deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}

.kolom h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

.kolom p {
  font-family: "comic sans ms";
  font-size: 20px;
}

.text {
  font-family: "comic sans ms";
}

.tbl-biru {
  background-color: #3f72af;
  border-radius: 20px;
  /* margin-top: 100px; */
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.tbl-biru:hover {
  background-color: #fc5185;
  text-decoration: none;
  
}

.tbl-pink {
  background-color: #fc5185;
  border-radius: 20px;
  /* margin-top: 100px; */
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.tbl-pink:hover {
  background-color: #3f72af;
  text-decoration: none;
}

p {
  margin: 20px 0px;
  padding: 10px 0px;
  text-align: justify;
}

#courses img {
  margin-left: 10px;
}

.tengah {
  text-align: center;
  width: 100%;
}

/* Tutor */

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 20%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  /* margin-top: 10px; */
  padding: 10px;
  font-weight: 800;
  font-size: 27px;
  text-align: center;
  color: #364f6b;
}

/* Partner */

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}

.kartu-partner img {
  width: 200px;
  border-radius: 20%;
}

/* Contact */

#contact {
  background-color: #dedede;
  padding: 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}


h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  margin-top: 50px;
}

/* Login User */
.body-login {
  background-image: linear-gradient(to right top, #051937, #004a76, #00818d,#00b56c, #9dde0e);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 425px;
  height: auto;
  color: #fff;
  background: #364f6b;
  padding: 35px 50px;
  border-radius: 2px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.input_wrap{
  margin-bottom: 20px;
  width: 325px;
  position: relative;
}

.form .input_wrap:last-child {
  margin-bottom: 0;
}

.form .input_wrap label {
  display: block;
  margin-bottom: 5px;
}

.form .input_wrap input {
  padding: 15px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
}

.form .input_wrap .input {
  background: #e3e3e3;
  padding-right: 35px;
}

.form .input_wrap .input:focus {
  border-color: #1dbf73;
}

.form .input_wrap .input_field {
  position: relative;
}

.form .input_wrap .error_msg {
  font-size: 15px;
  margin-bottom: 5px;
  color: #f74040;
  display: none;
}

.form .input_wrap .btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background-color: #1dbf73;
  cursor: pointer;
}

.logo-login{
  max-width: 300px;
  /* background-color: black; */
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
}


/* Dekstop */
@media only screen and (max-width: 1020px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kartu-tutor {
    width: 50%;
  }

  .kartu-partner {
    width: 50%;
  }

}

/* Tablet */
@media only screen and (max-width: 810px) {

    .footer-section h3 {
        word-spacing: 5px;
        display: block;
        width: 100%;
        height: auto;
        font-size: 21px;
        padding: 10px;
      }

      .kolom>p {
        font-size: 22px;
      }

}




/* Mobile */
@media only screen and (max-width:510px) {

    .footer-section h3 {
        word-spacing: 5px;
        display: block;
        width: 100%;
        height: auto;
        font-size: 20px;
        padding: 10px;
      }

      .kolom>p {
        font-size: 1rem;
      }

      .kartu-partner img {
        width: 170px;
        border-radius: 20%;
      }
      
      .footer-section p{
        font-size: 15px;
      }

}

/* ==================Finish==================== */
